.header-ref-left {
    border-bottom: solid 4px #50beee;
}


.main-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  
/* activity container */
  
  .activity-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    max-height: none;
    min-width: 45%;
    justify-content: center;
    margin-top: 5%;
    margin-left: 3%;
  }

  .activity:hover {background-color: #cccccc; transform: translate(2%, 2%); cursor: grab;}

  .activity {
    border: 1px solid #B0CC35;
    border-radius: 4px;
    padding: 5%;
    display: flex;
    max-height: 50%;
    min-width: 80%;
    max-width: 100%;
    align-items: center;
    background-color: white;
    margin: 10px auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  .activity-img {
    height: 96%;
    width: auto;
  }

  .text-container-activity {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 75%;
    padding: 5%;
  }

  .line {
    background-color: #B0CC35;
    width: 100%;
    height: 1px;
    margin-top: 7%;
  }
  .p-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto 0 auto 0;
  }

  .p-container-container {
    display: flex;
    flex-direction: row;
  }

  .activity-name {
    font-size: 100%;
    color: black;
  }

  .p-activity {
    color: black;
    white-space: nowrap;
    margin-top: auto;
  }

  .p-activity-right {
    color: black;
    margin-top: 3%;
  }



  .activity-description-container {
    width: 50%;
    height: 100%;
  }




  @media screen and (max-width: 1000px) {

    .activity-container {
      width: 90%;
      column-gap: 50px;
    }
    .activity-description-container {
      display: none;
    }



  }


  